<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Master" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\_cgs\Gestionale SAAM\WIP DEV\CGS Material\WpfApp1\DB\Master.mdf;Integrated Security=True" />
    <add key="SqlDB" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\_cgs\Gestionale SAAM\WIP DEV\CGS Material\WpfApp1\DB\Tornei.mdf;Integrated Security=True" />
    <add key="SqlDBTest" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\_cgs\Gestionale SAAM\WIP DEV\CGS Material\WpfApp1\DB\TorneiTest.mdf;Integrated Security=True" />
    <add key="SqlDBFemale" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\_cgs\Gestionale SAAM\WIP DEV\CGS Material\WpfApp1\DB\TorneiFemminile.mdf;Integrated Security=True" />
    <add key="Creazione" value="false" />
    <add key="Debug" value="false" />
    <add key="DataBase" value="Maschile" />
    <!-- Maschile, Femminile, Test-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>